@font-face {
  font-family: Digit; /* Имя шрифта */
  src: url(assets/DS-DIGIB.TTF); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: NewYear; /* Имя шрифта */
  src: url(assets/matterhorn_rus_by_me.ttf); /* Путь к файлу со шрифтом */
}

body {
  margin: 0px;
  height: 100vh;
}

.festive {
  background: url(./assets/fireworks.gif) no-repeat;
  background-size: cover;
}

.clock_face {
  margin: auto;
  border-radius: 50%;
  background-color: antiquewhite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper_digits {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.digit {
  border-radius: 50%;
  background-color: lightgreen;
  position: absolute;
  transform: translate(-50%, -50%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid black 4px;
  background-color: red;
}

.second_hand {
  position: absolute;
  top: 50%;
  left: 45%;
  z-index: 4;
  background-color: red;
}

.minute_hand {
  position: absolute;
  top: 50%;
  left: 45%;
  z-index: 2;
  background-color: black;
}

.hours_hand {
  position: absolute;
  top: 50%;
  left: 45%;
  z-index: 1;
  background-color: black;
}

.electronic_dial {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.electronic_dial {
  font-family: Digit;
  color: black;
  background-color: lightgray;
  padding: 2px;
  width: 8.8ch;
  height: 2ch;
  text-align: center;
}

.brand {
  font-family: Digit;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.electronic_dial > div {
  display: inline-block;
  width: 2ch;
}

.hidden {
  visibility: hidden;
}

.congratulation {
  font-family: NewYear;
  color: white;
  text-align: center;
  font-size: 80px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  text-shadow: 1px 1px 2px black, 0 0 1em lightgray;
  z-index: 5;
}

@media all and (max-width: 800px) {
  .congratulation {
    font-size: 60px;
  }
}

@media all and (max-width: 450px) {
  .congratulation {
    font-size: 50px;
    top: 7%;
  }
}
